<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <RollingFile name="RollingFileAppender"
                     fileName="logs/hippodrome.log"
                     filePattern="logs/hippodrome-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %c{1}: %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="7">
                <Delete basePath="logs" maxDepth="1">
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="Main" level="info" additivity="false">
            <AppenderRef ref="RollingFileAppender"/>
        </Logger>

        <Logger name="Hippodrome" level="debug" additivity="false">
            <AppenderRef ref="RollingFileAppender"/>
        </Logger>

        <Logger name="Horse" level="debug" additivity="false">
            <AppenderRef ref="RollingFileAppender"/>
        </Logger>

        <Root level="debug">
            <AppenderRef ref="RollingFileAppender"/>
        </Root>
    </Loggers>
</Configuration>